<%- include('partials/_header') %>
<%- include('navbar') %>

<form action="/calle" method="post" class="d-grid gap-4">
    <div class="d-flex justify-content-between">
        <h3>Consulta Afiliadxs por Calle</h3>
        <!--a class="btn btn-outline-primary btn-sm" href="/dni">Buscar por DNI</a-->
    </div>

    <div class="form-floating">
        <input type="text" name="calle" id="calle" class="form-control" autocomplete="off" placeholder="Calle">
        <label for="calle">Calle</label>
    </div>

    <!--div class="form-floating">
        <input type="number" name="suma" id ="suma" class="form-control" autocomplete="off" placeholder="cuenta" required>
        <label for="suma" class="col-form-label">Escribí el resultado de <%#= sum1 %> + <#%= sum2 %></label>
    </div-->

    <button class="btn btn-outline-success btn-lg" aria-describedby="calle" id="buscar">Buscar</button>
</form>

<%- include('partials/_table') %> 
<%- include('partials/_footer') %>