<%- include('partials/_header') %>
<%- include('navbar') %>

<form action="/dni" method="POST" class="d-grid gap-4">

    <div class="d-flex justify-content-between">
        <h3>Consulta Personas por DNI</h3>
        <!--a class="btn btn-outline-primary btn-sm" href="/nombre">Buscar por Nombre</a-->
    </div>

    <div class="form-floating">
        <input type="number" name="dni" id="dni" class="form-control" autocomplete="off" placeholder="DNI" required>
        <label for="dni">DNI</label>
    </div>

    <button type="submit" class="btn btn-outline-success btn-lg" aria-describedby="dni" id="buscar">Buscar</button>
    
</form>
<%- include('partials/_table') %> 

<%- include('partials/_footer') %>