<%- include('partials/_header') %>
<%- include('navbar') %>

    <h1>Consulta Afiliadxs</h1>
    <form class="row" action="/dni" method="GET">
        <button type="submit" class="btn btn-outline-primary btn-lg">Buscar por DNI</button>
    </form>
    <form class="row" action="/nombre">
        <button type="submit" class="btn btn-outline-primary btn-lg">Buscar por Nombre y Apellido</button>
    </form>

<%- include('partials/_footer') %>