<%- include('partials/_header') %>
<%- include('navbar') %>

<form action="/nombre" method="post" class="d-grid gap-4">
    <div class="d-flex justify-content-between">
        <h3>Consulta Personas por Nombre</h3>
        <!--a class="btn btn-outline-primary btn-sm" href="/dni">Buscar por DNI</a-->
    </div>

    <div class="form-floating">
        <input type="text" name="nombre" id="nombre" class="form-control" autocomplete="off" placeholder="Nombre">
        <label for="nombre">Nombre</label>
    </div>
    <div class="form-floating">
        <input type="text" name="apellido" id="apellido" class="form-control" autocomplete="off" placeholder="Apellido" required>
        <label for="apellido">Apellido</label>
    </div>

    <!--div class="form-floating">
        <input type="number" name="suma" id ="suma" class="form-control" autocomplete="off" placeholder="cuenta" required>
        <label for="suma" class="col-form-label">Escribí el resultado de <%#= sum1 %> + <#%= sum2 %></label>
    </div-->

    <button class="btn btn-outline-success btn-lg" aria-describedby="nombre" id="buscar">Buscar</button>
</form>

<%- include('partials/_table') %>

<%- include('partials/_footer') %>