<%- include('partials/_header') %>

<form action="/singin" method="POST">
    <div class="d-grid gap-4">

        <div class="d-flex justify-content-between">
            <h3>Registro Personas CF </h3>
        </div>

        <div class="form-floating">
            <input type="number" name="dni" id="dni" class="form-control" autocomplete="off" placeholder="DNI" required>
            <label for="dni">DNI</label>
        </div>

        <div class="form-floating">
            <input type="password" name="password" id ="password" class="form-control <%= passError %>" autocomplete="off" placeholder="Contrase単a" required>
            <label for="password" class="col-form-label">Contrase単a</label>
        </div>
        <div class="form-floating">
            <input type="password" name="rpassword" id ="rpassword" class="form-control" autocomplete="off" placeholder="Repetir contrase単a" required>
            <label for="password" class="col-form-label">Repetir contrase単a</label>
        </div>

        <button class="btn btn-outline-success btn-lg" aria-describedby="dni" id="buscar">Ingresar</button>

    </div>
</form>

<%- include('partials/_footer') %>